Flask==1.0.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
psycopg2==2.7.5
Flask-Testing==0.7.1
gunicorn==19.9
flask-marshmallow==0.9.0
marshmallow-sqlalchemy==0.14.0
dicttoxml==1.7.4
xmltodict==0.11.0
